# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
#Fichier qui va faire le lien entre l'url rentré et le controlleur utilisé.

#RewriteBase /TBTApplication/

#RewriteCond %{REQUEST_URI} ^/TBTApplication/$

#RewriteRule ^(.*)$ /TBTApplication/Connexion/ [R=301,L]
# Options -Indexes

DirectoryIndex  html/login.php

ErrorDocument 404 /html/page404.php
RewriteRule ^Connexion/$ html/login.php [nc,qsa,L]
RewriteRule ^Administration/$ html/admin.php [L]

RewriteRule ^data/(connexion|verifConnexion|getUsers|getDataUser|deleteUser)(/|) controller/restcontroller.php?type=$1 [nc,qsa]